@media (max-width: 768px) {

	/* Input Range */
	input[type=range] {
		opacity: 1;

		&::-webkit-slider-thumb {
			box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
		}
	}

	/* Input Checkbox */
	.input-checkbox__slider:before {
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
	}

	/* Buttons */
	button {
		opacity: 1;

		&:hover {
			box-shadow: none;
		}
	}

	.section-group_area__buttons-row {

		button:hover {
			letter-spacing: .3em;
		}
	}

	.section-group_configs__buttons-row {

		button:hover {
			letter-spacing: .3em;
		}
	}

	.section_main__buttons-row {

		button:hover {
			letter-spacing: .5em;
		}
	}

}

@media (max-width: 408px) {

	input[type=range] {
		width: 250px;
	}

}