@media (max-width: 768px) {

	button {
		opacity: 1;

		&:hover {
			box-shadow: none;
		}
	}

	.section {

		&_main {

			button:hover {
				letter-spacing: .5em;
			}
		}

	}

	.configs {

		button:hover {
			letter-spacing: .3em;
		}
	}

}

@media (max-width: 408px) {

	input[type=range] {
		width: 250px;
	}

}

@media (max-width: 368px) {

	.section_main {

		button {
			padding: 6px 30px;
		}
	}
}