/* Main */
.main__group {

	.buttons-row {
		margin-left: 30px;
	}
}

/* Info */
.statistics {
	margin-left: 30px;

	&-item {
		margin: 10px 0;

		&__text {
			font-size: 16px;
			letter-spacing: .1em;
		}

		&__value {
			font-weight: bold;
			position: relative;
			top: 1px;
			letter-spacing: .1em;

			&_born {
				left: 2px;
				color: var(--born-text-color);
				text-shadow: 0 0 15px rgba(101, 227, 99, 0.5);
			}

			&_died {
				left: 2.5px;
				color: var(--died-text-color);
				text-shadow: 0 0 15px rgba(227, 99, 99, 0.5);
			}

			&_alive {
				color: var(--alive-text-color);
				text-shadow: 0 0 15px rgba(99, 227, 221, 0.5);
			}
		}
	}
}

/* Generation */
.configs > * {
	margin-top: 16px;
	padding-left: 30px;
}

.configs__group {

	&-title {
		margin-bottom: 5px;
	}

	button {
		font-size: 16px;
		padding: 4px 16px;
		letter-spacing: .3em;

		&:hover {
			letter-spacing: .6em;
		}
	}
}

/* Footer */
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 55px;
	transition: background-color .4s;
	background-color: var(--bg-color);

	&__text {
		opacity: .8;
		color: var(--text-color);
	}

	&__link {
		position: relative;
		text-decoration: none;
		color: var(--text-color);

		&:hover {
			transform: translateY(5px);
		}

		&:hover::before {
			right: auto;
			left: 0;
			width: 100%;
		}

		&::before {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			content: '';
			transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
			background-image: linear-gradient(90deg, hsl(284,91%,69%) 0%, hsl(284,91%,69%) 12.5%,hsl(329,91%,69%) 12.5%, hsl(329,91%,69%) 25%,hsl(14,91%,69%) 25%, hsl(14,91%,69%) 37.5%,hsl(59,91%,69%) 37.5%, hsl(59,91%,69%) 50%,hsl(104,91%,69%) 50%, hsl(104,91%,69%) 62.5%,hsl(149,91%,69%) 62.5%, hsl(149,91%,69%) 75%,hsl(194,91%,69%) 75%, hsl(194,91%,69%) 87.5%,hsl(239,91%,69%) 87.5%, hsl(239,91%,69%) 100%);
		}
	}
}