<h2 class="article__title">Generation</h2>

<ul class="article__groups">
	<li class="article-group">
		<h3 class="article-group__title">Rules</h3>

		<ul class="article-group__inputs">
			<li class="article-group__input">
				<label class="input-checkbox article-group__input-checkbox">
					<input class="input-checkbox__input input_rule" data-rule="323"
						   type="checkbox" checked>
					<span class="input-checkbox__slider"></span>
				</label>
				<span class="input-checkbox__label">B3/S23</span>
			</li>

			<li class="article-group__input">
				<label class="input-checkbox article-group__input-checkbox">
					<input class="input-checkbox__input input_rule" data-rule="30"
						   type="checkbox">
					<span class="input-checkbox__slider"></span>
				</label>
				<span class="input-checkbox__label">30</span>
			</li>

			<li class="article-group__input">
				<label class="input-checkbox">
					<input class="input-checkbox__input input_rule" data-rule="90"
						   type="checkbox">
					<span class="input-checkbox__slider"></span>
				</label>

				<span class="input-checkbox__label">90</span>
			</li>

			<li class="article-group__input">
				<label class="input-checkbox">
					<input class="input-checkbox__input input_rule" data-rule="110"
						   type="checkbox">
					<span class="input-checkbox__slider"></span>
				</label>
				<span class="input-checkbox__label">110</span>
			</li>

			<li class="article-group__input">
				<label class="input-checkbox">
					<input class="input-checkbox__input input_rule" data-rule="184"
						   type="checkbox">
					<span class="input-checkbox__slider"></span>
				</label>
				<span class="input-checkbox__label">184</span>
			</li>
		</ul>
	</li>

	<li class="article-group">
		<h3 class="article-group__title">Config's</h3>

		<ul class="article-group__subgroups">
			<li class="article-subgroup">
				<h4 class="article-subgroup__title">Main</h4>

				<div class="buttons-row">
					<button class="small button_config-save">save</button>
					<button class="small button_config-load">load</button>
				</div>
			</li>

			<li class="article-subgroup">
				<h4 class="article-subgroup__title">Random</h4>

				<div class="buttons-row">
					<button class="small button_randomize">randomize</button>
				</div>
			</li>

			<li class="article-subgroup">
				<h4 class="article-subgroup__title">Guns</h4>

				<div class="buttons-row">
					<button class="small button_gosper">gosper</button>
					<button class="small button_gosper-eater">gosper + eater</button>
				</div>
			</li>

			<li class="article-subgroup">
				<h4 class="article-subgroup__title">Spaceships</h4>

				<div class="buttons-row">
					<button class="small button_middleweight">middleweight</button>
					<button class="small button_weekender">weekender</button>
					<button class="small button_pre-pulsar">pre-pulsar</button>
				</div>
			</li>
		</ul>
	</li>
</ul>