<h2 class="article__title">Main</h2>

<ul class="article__groups">
    <li class="article-group">
        <h3 class="article-group__title">Game</h3>

        <div class="buttons-row">
            <button class="button_start">start</button>
            <button class="button_clear">clear</button>
        </div>
    </li>

    <li class="article-group">
        <h3 class="article-group__title">Theme</h3>

        <div class="buttons-row">
            <button class="button_theme"></button>
        </div>
    </li>
</ul>