<h2 class="article__title">Other</h2>

<ul class="article__groups">
	<li class="article-group">
		<h3 class="article-group__title">Game</h3>

		<label class="input-range article-group__input-range">
			<span class="input-range__label">steps/second</span>
			<br>
			<input class="input-range__input input_app-steps"
				   type="range" min="1" max="150" value="100">
			<span class="input-range__value value_app-steps">100</span>
		</label>
	</li>

	<li class="article-group">
		<h3 class="article-group__title">Area</h3>

		<ul class="article-group__inputs">
			<li class="article-group__input">
				<label class="input-checkbox">
					<input class="input-checkbox__input input_space"
						   type="checkbox">
					<span class="input-checkbox__slider"></span>
				</label>
				<span class="input-checkbox__label">looping space</span>
			</li>

			<li class="article-group__input">
				<label class="input-checkbox">
					<input class="input-checkbox__input input_rainbow-units"
						   type="checkbox">
					<span class="input-checkbox__slider"></span>
				</label>
				<span class="input-checkbox__label">rainbow units</span>
			</li>
		</ul>
	</li>
</ul>