<h2 class="article__title">Size</h2>

<ul class="article__groups">
	<li class="article-group">
		<h3 class="article-group__title">Cell</h3>

		<div class="article-group__inputs">
			<label class="input-range article-group__input-range">
				<span class="input-range__label">size</span>
				<br>
				<input class="input-range__input input_cell-size"
					   type="range" min="1" max="30" value="20">
				<span class="input-range__value value_cell-size">20</span>
			</label>

			<label class="input-range">
				<span class="input-range__label">margin</span>
				<br>
				<input class="input-range__input input_cell-margin"
					   type="range" min="0" max="10" value="1">
				<span class="input-range__value value_cell-margin">1</span>
			</label>
		</div>
	</li>

	<li class="article-group">
		<h3 class="article-group__title">Area</h3>

		<div class="buttons-row">
			<button class="button_full-screen">full</button>
			<button class="button_half-screen">4 / 5</button>
		</div>
	</li>
</ul>