<h2 class="article__title">Stats</h2>

<div class="article__groups">
	<div class="article-group">
		<h3 class="article-group__title">Cells</h3>

		<ul class="cell-stats">
			<li class="cell-stats__item">
				<span class="cell-stats__label">born:</span>
				<span class="cell-stats__value cell-stats__value_born">0</span>
			</li>
			<li class="cell-stats__item">
				<span class="cell-stats__label">died:</span>
				<span class="cell-stats__value cell-stats__value_died">0</span>
			</li>
			<li class="cell-stats__item">
				<span class="cell-stats__label">alive:</span>
				<span class="cell-stats__value cell-stats__value_alive">0</span>
			</li>
		</ul>
	</div>
</div>