<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/style.min.css">

<!-- Useful meta tags -->
<link rel="shortcut icon" href="assets/images/icon.ico" type="image/x-icon">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,
 user-scalable=0, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="The Game of Life.">

<meta property="og:locale" content="en_EN">
<meta property="og:type" content="article">

<meta property="og:title" content="Cellular Automaton">
<meta property="og:description" content="The Game of Life.">
<meta property="og:image" content="https://nerq1337.github.io/cellular-automaton/assets/images/icon.ico">
<meta property="og:url" content="https://nerq1337.github.io/cellular-automaton/">
<meta property="og:site_name" content="Cellular Automaton">

<title>{{ title }}</title>
